:root {
    --brown: #4F401A;
    --purple: #D9DBFF;
    --lineWidth: 1.5px;
    --buttonSize: 24px;
    --marginLR: 40px;
}

@font-face {
    font-family: 'Publico';
    src: url('fonts/Publico-Roman.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Publico';
    src: url('fonts/Publico-Semibold.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Basier';
    src: url('fonts/basiercircle-regular-webfont.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Basier';
    src: url('fonts/basiercircle-medium-webfont.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Publico', monospace;
    font-weight: normal;
    background-color: var(--brown);
    color: var(--purple);
}

#order-summary main{
    padding: 12px var(--marginLR);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header Section */
.menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.menu-header img {
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

.languageWrap {
    position: absolute;
    top: 28px;
    right:var(--marginLR);
    display: flex;
}

.language-toggle, #back-to-menu {
    background: none;
    border: var(--lineWidth) solid var(--purple);
    color: var(--purple);
    width: var(--buttonSize);
    height: var(--buttonSize);
    border-radius: var(--buttonSize);
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.language-toggle.active {
    background-color: var(--purple);
    color: var(--brown);
}

/* Menu Section */
#menu {
    padding: 20px;
}

#menu h1 {
    font-family: 'Cursive', serif;
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
}

.menu-category {
    font-family: "Basier";
    font-weight: 400;
    font-size: 14px;
    width: fit-content;
    padding: 5px 24px;
    border-radius: var(--buttonSize);
    border: 1.5px solid var(--purple);
}

#menu-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;
}

.menu-item {
    width: calc(100% - var(--marginLR));
    padding: 12px var(--marginLR);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.menu-item2 {
    width: 100%;
    padding: 12px 0px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.menu-item h3 {
    font-size: 18px;
    margin: 0;
    font-weight: 400;
    line-height: 115%;
}

.menu-item p {
    font-family: "Basier";
    font-size: 11px;
    margin: 0;
    margin-top: 4px;
    font-weight: 400;
}

.textPt {
    display: flex;
    flex-direction: column;
    max-width: 80%;
}

.menu-item button {
    border-radius: var(--buttonSize);
    width: 24px !important;
    height: 24px;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s;
}

.menu-divider {
    height: var(--marginLR);
}

/* 加号（无填充，有边框） */
.border-button {
    background-color: transparent;
    border: 1.5px solid var(--purple);
    color: var(--purple);
}

/* 减号（有填充） */
.filled-button, .remove-from-cart {
    background-color: var(--purple);
    border: 2px solid var(--purple);
    color: var(--brown);
}

/* Language */
#language-en, #language-zh {

}

/* Floating Buttons */
.operation {
    background-color: var(--brown);
    position: fixed;
    padding-top: 20px;
    width: 100%;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
}

.operation hr {
    width: 88%;
    border: 1px solid var(--purple);
}

#floating-buttons {
    /* width: calc(100% - 76px); */
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 36px;
    padding-right: var(--marginLR);
    display: flex;
    justify-content: space-between;
}

#floating-buttons button {
    background-color: transparent;
    color: var(--purple);
    border: 2px solid var(--purple);
    font-family: math;
    font-weight: 400;
    font-size: 30px;
    border-radius: var(--buttonSize);
    width: 28px;
    height: 28px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s;
}

#view-cart, #all-set {
    background-color: var(--purple) !important;
    color: var(--brown) !important;
    width: fit-content !important;
    padding: 10px 16px 10px 20px;
    font-family: "Basier" !important;
    font-size: 15px !important;
    font-weight: 500 !important;
    display: flex;
    align-items: center;
    gap: 12px;
}

#view-cart span, #cart-count {
    background-color: var(--brown);
    color: var(--purple);
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    border-radius: var(--buttonSize);
}

#scroll-up {
    padding-top: 12px;
}

#scroll-down {
    padding-top: 14px;
    transform: rotate(180deg);
}

#back-to-menu2 {
    padding-top: 12px;
    transform: rotate(270deg);
}



/* Page 2*/
#order-summary {
    padding-bottom: 100px;
}
#back-to-menu {
    position: fixed;
    font-family: math;
    font-weight: 400;
    font-size: 28px;
    top: 28px;
    left: calc(var(--marginLR) - 18px);
    padding-top: -6px;
    transform: rotate(270deg);
}

.user-input {
    background: var(--purple);
    color: var(--brown);
    border: none;
    font-family: 'Publico';
    font-weight: 500;
    padding: 2px 6px;
    width: 120px;
}

#selected-menu-items {
    width: 100%;
}